/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #da3a00;
  --ifm-color-primary-dark: #c43400;
  --ifm-color-primary-darker: #b93100;
  --ifm-color-primary-darkest: #992900;
  --ifm-color-primary-light: #f04000;
  --ifm-color-primary-lighter: #fb4300;
  --ifm-color-primary-lightest: #ff591c;
  --ifm-code-font-size: 95%;

  --sigle-color-gray-1: #fcfcfc;
  --sigle-color-gray-4: #ededed;
  --sigle-color-gray-9: #737373;
  --sigle-color-gray-11: #1a1a1a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #f76808;
  --ifm-color-primary-dark: #de5e07;
  --ifm-color-primary-darker: #d25807;
  --ifm-color-primary-darkest: #ad4906;
  --ifm-color-primary-light: #f87721;
  --ifm-color-primary-lighter: #f87f2d;
  --ifm-color-primary-lightest: #f99552;

  --sigle-color-gray-1: #1a1a1a;
  --sigle-color-gray-4: #282828;
  --sigle-color-gray-9: #a1a1a1;
  --sigle-color-gray-11: #f2f2f2;
}

body {
  font-family: 'Open Sans';
  color: var(--sigle-color-gray-11);
  background-color: var(--sigle-color-gray-1);
}

/* Navbar */
.menu__link {
  padding: 12px;
  border-radius: 5px;
}
.menu__link:hover {
  background-color: var(--sigle-color-gray-4);
}
.menu__link.menu__link--active {
  background-color: var(--sigle-color-gray-4);
}

/* Footer */
.footer {
  color: var(--sigle-color-gray-1);
  background-color: var(--sigle-color-gray-11);
  border-top: 1px solid var(--ifm-toc-border-color);
  padding: 40px;
}
.footer__title {
  color: var(--sigle-color-gray-9);
  margin-bottom: 8px;
}
.footer__links {
  margin-bottom: 40px;
}
.footer__link-item {
  color: var(--sigle-color-gray-1);
  font-size: 14px;
}
.footer__link-item svg {
  display: none;
}
.footer__copyright {
  font-size: 14px;
}
html[data-theme='dark'] .footer {
  color: var(--sigle-color-gray-11);
  background-color: var(--sigle-color-gray-1);
}
html[data-theme='dark'] .footer__title {
  color: var(--sigle-color-gray-9);
}
html[data-theme='dark'] .footer__link-item {
  color: var(--sigle-color-gray-11);
}
